<% if @movie.errors.any? %>
	<div class="alert alert-danger" role="alert"> 
		<ul>
		<% @movie.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>
<% if flash[:alert] %>
	<div class="alert alert-danger" role="alert"> 
	<%= flash[:alert] %>
	</div>
<% end %>
<div class="row">
<div class="col-md-12">

	<h2 class='text-center'>New Movie</h2>
	<form action="/movies" method="POST" class="form-horizontal" enctype="multipart/form-data">
		<div class="form-group">
			<label for='name' class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
				<input type="text" name="movie[name]" id='name' value="<%=@movie.name %>" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for='director' class="col-sm-3 control-label">Director</label>
			<div class="col-sm-6">
				<input type="text" name="movie[director]" id='director' value="<%=@movie.director %>" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for='star' class="col-sm-3 control-label">Star</label>
			<div class="col-sm-6">
				<input type="text" name="movie[star]" id='star' value="<%=@movie.star %>" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label for='genre' class="col-sm-3 control-label">Genre</label>
			<div class="col-sm-6">
				<select id='select_movie_genre' name="movie[genre_id]" class="form-control">
					<option>Select Genre</option>
					<% @genres.each do |f|%>
					<option value='<%= f.id %>'>
					<%= f.name %>
					</option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for='date' class="col-sm-3 control-label">Release Date</label>
			<div class="col-sm-6">
				<input type="date" name="movie[release_date]" id='date' value="<%=@movie.release_date %>" class="form-control" >
			</div>
		</div>
		
		<div class="form-group">
			<label for='summary' class="col-sm-3 control-label">Summary</label>
			<div class="col-sm-6">
				<textarea name="movie[summary]" id='summary' class="form-control"><%=@movie.summary %></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for='summary' class="col-sm-3 control-label">Image</label>
			<div class="col-sm-6">
				<%= file_field_tag :image, name: "movie[image]", class: "form-control-file" %>			
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<button type='submit' class="form-control btn btn-success"  data-confirm=""  >Add Movie</button>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<%= link_to  "Back", movies_path, class: "form-control btn btn-primary" %>
			</div>
		</div>
	</form>

</div>
</div>