<%= render partial: "layouts/errors", locals: { object: location } %>
<div class="row">
  <div class="col-md-10">
    <%= form_for location, class: "form-horizontal" do |f|%> 
      <div class="form-group">
        <%= f.label :nickname, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :nickname, class: "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :street_address, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :street_address, class: "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :city, class: "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :state, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :state, class: "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zipcode, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :zipcode, class: "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :business_name, class: "col-sm-2 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :business_name, class: "form-control"%>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <%= f.submit class: "form-control btn btn-primary"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
